{% extends 'base.html' %}

{% block body %}

<div id="store">
    <h1> {{store.name}} </h1>

    {% for product in store.product_set.all %}
        <div class="product">
            {{product.name}}
            <img src="{{ product.image.url }}"/>
            <div class="description">
                {{ product.description }}
            </div>
            <div class="price">
                ${{ product.price }}
            </div>
            <a class="add-to-cart" href="{% url 'add_to_cart' store.name product.id %}">Add to Cart</a>
        </div>
    {% endfor %}
</div>

{% endblock %}
